beautifulsoup4==4.13.4
cohere==5.15.0
duckduckgo_search==8.0.5
groq==0.29.0
Pillow==11.3.0
pyautogui==0.9.54
python-dotenv==1.1.1
pyttsx3==2.98
pywhatkit==5.4
Requests==2.32.4
spacy==3.8.7
torch==2.7.1
transformers==4.53.0
yfinance==0.2.64
